<nav>
    <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
        <button  [disableRipple]="true" md-button color="primary" >HOME</button>
    </a>
    <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
        <button  [disableRipple]="true" md-button color="primary" >ABOUT</button>
    </a>
    <a [routerLink]="['/catalog']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
        <button  [disableRipple]="true" md-button color="primary" >CATALOG</button>
    </a>
</nav> 
